body {
  margin: 0;
  background-color: #000;
  font-size: 22px;
  font-family: sans-serif;
}

.topmenu {
  display: flex;
  background-color: #3b362e;
}

.topmenu > li:hover {
  background-color: rgb(23, 114, 199);
  transition: 0.3s ease;
}

a:hover {
  background-color: rgb(23, 114, 199);
  transition: 0.3s ease;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 15px 30px;
  display: inline-block;
}

.submenu {
  min-width: 202px;
  position: absolute;
  z-index: 5;
  transform-origin: 0 0;
  transform: rotateX(-90deg);
  transition: 0.3s linear;
  visibility: hidden;
  opacity: 0;
}

.submenu li {
  position: relative;
}

.submenu .submenu {
  position: absolute;
  top: 0;
  left: 100%;
  transition: 0.3s linear;
}

.topmenu li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  transform: rotateX(0deg);
}

.submenu a {
  border-bottom: 1px solid #000;
  padding: 10px 20px;
  background-color: rgb(23, 114, 199);
  font-size: 16px;
  display: block;
  color: #fff;
}

.top__nav {
  border-bottom: 3px solid rgb(23, 114, 199);
}
